<FlexboxLayout class="main-wrapper"
               flexDirection='column'
               flexWrap="wrap"
               height="100%"
               *ngIf="!endGame">
  <GameCard [cardData]="gameState.currentCard?.card"></GameCard>

  <FlexboxLayout width='100%' justifyContent='space-around'>
    <Label [text]="hitPoints" class="h3 text-center c-white"></Label>
    <Label [text]="power" class="h3 text-center c-white"></Label>
    <Label [text]="points" class="h3 text-center c-white"></Label>
  </FlexboxLayout>
</FlexboxLayout>

<AbsoluteLayout *ngIf="endGame">
  <Image width="100%" src="~/assets/images/gameOver.jpeg"></Image>
</AbsoluteLayout>
